@page
@model CompanyWeb.Pages.HardDrive.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HardDriveP</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HardDriveP.DriveName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HardDriveP.DriveName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HardDriveP.DriveSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HardDriveP.DriveSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HardDriveP.ConnectionInterface)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HardDriveP.ConnectionInterface.ConnectionInterfaceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HardDriveP.DriveTypeP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HardDriveP.DriveTypeP.DriveTypeId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="HardDriveP.SerialNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
